.LoginContainer {
  background-color: #fffcef;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoginContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginDesign {
  width: 30%;
}

.LoginDesignImage {
  max-width: 100%;
  height: 99%;
  overflow: hidden;
}

.LoginLogo {
  top: 0;
  width: 20%;
}

.LoginLogoImage {
  width: 100%;
}

.LoginInput {
  font-size: 1.2rem;
  overflow: hidden;
  border-radius: 5%;
  cursor: pointer;
  opacity: 0.7;
  padding: 4% 4%;
  background-color: #e9e1df;
  border: none;
  margin: 5% 0%;
  width: 90%;
}

.LoginButton {
  margin-top: 10%;
  font-size: 1.5rem;
  background-color: #f8e8a7;
  padding: 3% 15%;
  border-radius: 5%;
  border: none;
  cursor: pointer;
}

.LoginButton:hover {
  background-color: #f5dc71;
}

.TagOuter {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  margin-bottom: 15%;
  justify-content: space-between;
}
