.SideBar {
  background-color: #fdf9e7;
  width: 18%;
  height: 90vh;
  padding: 2%;
  position: relative;
}
.UserData {
  border-bottom: 2px solid #ccc;
  margin-bottom: 10%;
}
.UserDataCode {
  margin-bottom: 10%;
}
.UserDataName {
  font-size: 2rem;
}
.Profile {
  display: flex;
  justify-content: space-between;
}
.ProfileImage {
  padding: 0% 5%;
  max-width: 40%;
  overflow: hidden;
  float: right;
  padding-bottom: 5%;
}

.Logout {
  background-color: #f5dc71;
  border-radius: 5%;
  padding: 3%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  width: 50%;
  cursor: pointer;
  bottom: 2%;
}
.LogoutImage {
  width: 20%;
}
.LogoutImage img {
  width: 100%;
}
